fastapi
uvicorn[standard]
pymongo
redis
requests
python-dotenv

python-multipart
torch
transformers
scikit-learn
python-docx
openpyxl
pytesseract
Pillow
pdfminer.six
celery[redis]
torchvision
pytest
httpx
SQLAlchemy
seqeval
optuna
boto3
google-api-python-client
google-auth-httplib2
dropbox
psycopg2-binary
mysql-connector-python
PyGithub
python-gitlab
fpdf